<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PABS/DL</title>

    <!-- Custom stylesheet -->
    <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/index.css"> -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">

    <!-- Font Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    <!-- Devicons -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700" rel="stylesheet">

    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/color/jquery.color-2.1.2.min.js"></script>
  

    <!-- Semantic UI -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">

    <!-- Packery -->
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/packery/2.1.1/packery.pkgd.min.js"></script> -->

    <!-- Bootstrap -->
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->

</head>
<body>    
    <div id="about">
        <div id="about-nav-menu" class="ui three item menu hidden">
            <a class="a-top item" href="#">Home</a>
            <a class="a-skills item" href="#">About</a>
            <a class="a-projects item" href="#">Projects</a>
            <a class="a-contact item" href="#">Contact</a>
        </div>
        <div class="ui container">
            <div class="ui middle aligned one column centered grid">
                <div class="row">
                    <div class="column">
                        <div id="about-name">
                            <h1>PABS/DL</h1>
                        </div>
                        <div id="about-text">
                            <div>
                                <p>
                                    Hi there! I'm Pabs.
                                    <br><br>
                                    I'm a Manila-based software engineer. 
                                    My experience ranges from developing web and mobile applications to
                                    desktop applications that require playing around with actual hardware.
                                </p>
                            </div>
                        </div>
                        <div class="ui divider"></div>
                        <div id="about-nav">
                            <div class="ui three item menu">
                                <a class="a-skills item" href="#">About</a>
                                <a class="a-projects item" href="#">Projects</a>
                                <a class="a-contact item" href="#">Contact</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="skills">
        <div class="ui container">
            <h1>About Me</h1>
            <hr class="section">
            <div class="ui middle aligned two column centered stackable grid">
                <div class="row">
                    <div class="column">
                        <div id="about-me" class="exp-wrapper">
                            <div>
                                <img src="https://instagram.fmnl8-1.fna.fbcdn.net/vp/31a343ec666e7d2385aa154cb42e6f12/5B290154/t51.2885-15/s640x640/sh0.08/e35/22709042_1598615953538510_3130433952171425792_n.jpg">
                                <img src="https://instagram.fmnl4-6.fna.fbcdn.net/vp/3d5dc46449bf9d81c9d97d148494d0d9/5B6F2F50/t51.2885-15/s640x640/sh0.08/e35/22794614_611339142589283_3421517788630482944_n.jpg">
                                <img src="https://scontent.fmnl4-6.fna.fbcdn.net/v/t1.0-9/27971853_2066973783318568_6506497041113398361_n.jpg?oh=725c8204b6da3a072637bb744a10c879&oe=5B70D120">
                            </div>
                            <p>
                                When I'm not at work, I take online courses, do volunteer work, 
                                and get my entertainment fix with some video games and a couple of movies.
                                <br>
                                I like to travel, too.
                            </p>
                        </div>
                    </div>
                </div>
            </div>                
            <div class="ui middle aligned two column centered stackable grid">
                <div class="row">
                    <div class="column">
                        <h3>What I Can Do</h3>
                        <div id="skill-wrapper">
                            <div class="skill-item w80">HTML</div>
                            <div class="skill-item w60">CSS</div>
                            <div class="skill-item w50">JavaScript</div>
                            <div class="skill-item w40">Node.js</div>
                            <div class="skill-item w40">MongoDB</div>
                            <div class="skill-item w30">Angular</div>
                            <div class="skill-item w70">Android (Java)</div>
                            <div class="skill-item w80">Windows (C#)</div>
                            <div class="skill-item w50">Linux</div>
                            <div class="skill-item w40">Unity</div>
                            <div class="skill-item w60">Photoshop</div>
                        </div>
                    </div>
                    <div class="column">
                        <h3>My (Professional) Life So Far</h3>
                        <div id="experience" class="exp-wrapper">
                            <ul>
                                <li class="top">
                                    05/2017 to Present
                                </li>
                                <li class="main">
                                    Computer Professionals' Union
                                </li>
                                <li class="bottom">
                                    Volunteer
                                </li>
                                <li class="top">
                                    11/2016 to Present
                                </li>
                                <li class="main">
                                    i-Bridge Systems Philippines
                                </li>
                                <li class="bottom">
                                    Software Engineer
                                </li>
                                <li class="top">
                                    06/2012 to 06/2016
                                </li>
                                <li class="main">
                                    University of the Philippines Diliman
                                </li>
                                <li class="bottom">
                                    Student, BS Computer Science
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="projects">
        <div class="ui container">
            <h1>Projects</h1>
            <hr class="section bottom-pad">
            <div class="ui center aligned stackable grid">
                <div class="eight wide tablet five wide computer column">
                    <div class="project-wrapper">
                        <img src="/images/port_connect.jpg">
                        <div class="project-desc-wrapper">
                            <div>
                                <h3>ConnectUP</h3>
                                <p>
                                    An academic social network for the University of the Philippines (UP) System built using university ontology and semantic web technologies.
                                </p>
                                <a href="https://dl.acm.org/citation.cfm?id=2978246" target="_blank">Read more</a>
                            </div>                                
                        </div>
                    </div>
                </div>
                <div class="eight wide tablet five wide computer column">
                    <div class="project-wrapper">
                        <img src="/images/port_cpu.jpg">
                        <div class="project-desc-wrapper">
                            <div>
                                <h3>CPU Tax Calculator</h3>  
                                <p>
                                    A mock version of the Philippines' Department of Finance tax calculator that 
                                    exposes the hidden additional expenses under the tax reform.
                                </p> 
                                <a href="http://dagdaggastoscalc.cp-union.com/" target="_blank">View here</a>    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="eight wide tablet five wide computer column">
                    <div class="project-wrapper">
                        <img src="/images/port_ejk.jpg">
                        <div class="project-desc-wrapper">
                            <div>
                                <h3>EJK Watch</h3>    
                                <p>
                                    An Android app to help human rights workers report cases of extrajudicial killings and human rights violations more efficiently.
                                </p>                        
                            </div>
                        </div>
                    </div>
                </div>
                <div class="eight wide tablet five wide computer column">
                    <div class="project-wrapper">
                        <img src="/images/port_connect.jpg">
                        <div class="project-desc-wrapper">
                            <div>
                                <h3>EnviDefenders</h3>
                                <p>
                                    An Android app to aid environment advocates in reporting cases of human rights violations in environment-related issues.                                        
                                </p>
                            </div>                                
                        </div>
                    </div>
                </div>
                <div class="eight wide tablet five wide computer column">
                    <div class="project-wrapper">
                        <img src="/images/port_cpu.jpg">
                        <div class="project-desc-wrapper">
                            <div>
                                <h3>The Hungry Games</h3>  
                                <p>
                                    A 3D strategy tile-based game where players try to eliminate each other and reach a certain point in the board ahead of other players.                
                                </p> 
                                <a href="https://thehungrygamesgame.tumblr.com/" target="_blank">View here</a>    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="eight wide tablet five wide computer column">
                    <div class="project-wrapper">
                        <img src="/images/port_ejk.jpg">
                        <div class="project-desc-wrapper">
                            <div>
                                <h3>Grabeteh!</h3>    
                                <p>
                                    A 3D arcade-style game where the player goes through different levels where falling balls must be kept afloat until the music ends.                
                                </p>                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="contact">
        <div class="ui container">
            <h1>Contact</h1>
            <hr class="section bottom-pad">
            <div id="contact-items">
                <h3>Feel free to drop by and say hi!</h3>
                <div class="ui three item menu">
                    <a href="mailto:ricardopablo.deleon@gmail.com" ><i class="fab fa-google"></i></a>
                    <a href="mailto:rjdeleon@up.edu.ph"><i class="far fa-envelope"></i></i></a>
                    <a href="https://www.linkedin.com/in/ricardo-pablo-de-leon-61769ba7/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/dicpics_03/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://github.com/rjdeleon03" target="_blank"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="ui container">
            <div>
                <h4>
                    Copyright © <%= year %>
                    Pabs De Leon
                </h4>
            </div>
            Background photos by 
            <a href="https://unsplash.com/photos/7UPZKihEdsc" target="_blank">Eldon Vince Isidro</a>
            and
            <a href="https://unsplash.com/photos/dC6Pb2JdAqs" target="_blank">Fabian Grohs</a>
             on
            <a href="https://unsplash.com">Unsplash</a>
        </div>
    </div>

    <!-- Custom JS -->
    <script type="text/javascript" src="/scripts/index.js"></script>
</body>
</html>