html body {    
    background: -webkit-linear-gradient(to bottom, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    font-family: 'Raleway';
    font-size: 1.05em;
}

#about {
    max-width: 500px !important;
    min-height: 100%;
    text-align: center;
    padding: 0 1em;
    margin-left: auto !important;
    margin-right: auto !important;
}

#about h1 {
    font-size: 13vmin;
    font-family: 'Raleway';    
    font-weight: 300;
}

#about-name {
    margin-top: 1em;
}

#about-text {
    margin: 1em 0;
}

#about img {
    border-radius: 50%;
    max-width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    margin: 0.6em 0;
}

#about a, 
#about a:hover {
    color: #fff;
    max-width: 70px;
    max-height: 40px;
    margin: 0 0.1em;
    padding: 0.5em;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 8px;
    transition: border 0.2s;
    -webkit-transition: border 0.2s;
    -moz-transition: border 0.2s;
}

#about a:hover {
    color: #fff;
    border: 1px solid #fff;
}

#about-contact a {    
    font-size: 1.4em;
}

#about-nav a {    
    font-family: 'Raleway';
}

.ui.item.menu {
    background-color: rgba(0,0,0,0);
    border: none;
    box-shadow: 0 0 rgba(0,0,0,0);
}

hr {
    min-width: 250px;
    max-width: 500px;
    width: 80%;
    height: 1px;
}