html, body {
    height: 100vh !important;
}

html body {        
    background: url(https://images.unsplash.com/photo-1521295105158-fdc2a8225628?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=eb9798deb2e23486ef9500b392c142a5&auto=format&fit=crop&w=1355&q=80);
    background-position: center;
    background-color: rgba(0, 0, 0, 0.75);
    background-blend-mode: multiply;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #fff;
    font-family: 'Raleway';
    font-size: 1em;
}

.hidden {    
    display: none !important;
}

#skills,
#contact {    
    background: -webkit-linear-gradient(to bottom, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    /* text-shadow: 1px 2px 8px black; */
}

@media screen and 
(max-height: 600px) {
    /* Mobile-landscape styles */
    html body {
        font-size: 0.95em;
    }

    #about {        
        background: url(https://instagram.fmnl8-1.fna.fbcdn.net/vp/31a343ec666e7d2385aa154cb42e6f12/5B290154/t51.2885-15/s640x640/sh0.08/e35/22709042_1598615953538510_3130433952171425792_n.jpg);
        background-position-y: 75%;
        background-color: rgba(0, 0, 0, 0.65);
        background-blend-mode: multiply;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        text-shadow: 1px 2px 8px black;
    }

    #about img {
        display: none;
    }

    #about h1 {        
        text-shadow: 1px 2px 8px black;
    }

    #about .ui.divider {
        margin: 5px auto !important;
    }
}

@media(max-width: 500px) {
    html body {        
        font-size: 0.95em;
    }
}

#about .container {
    max-width: 500px !important;
    min-height: 100vh;
    text-align: center;
    padding: 0 1em;
    margin-left: auto !important;
    margin-right: auto !important;
}

#about .centered.grid {
    height: 100vh;
    margin: 0 auto;
}

#about h1 {
    font-size: 10vmin;
    font-family: 'Raleway';    
    font-weight: 300;
    text-align: center;
}

#about-text {
    margin: 1em 0;
    text-align: center;
}

#about img {
    border-radius: 50%;
    max-width: 100%;
    padding-left: 27%;
    padding-right: 27%;
    margin: 0.6em 0;
}

#about a, 
#about a:hover {
    color: #fff;
    max-width: 70px;
    max-height: 40px;
    margin: 0 0.1em;
    padding: 0.5em;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 8px;
    transition: border 0.2s;
    -webkit-transition: border 0.2s;
    -moz-transition: border 0.2s;
}

#about a:hover {
    color: #fff;
    border: 1px solid #fff;
}

#about-nav-menu {
    z-index: 1;
    background-color: rgba(60, 60, 60, 0.95) !important;
}

#about-nav-menu.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 4px 0;
    display: flex !important;
}

#about-nav a {    
    font-family: 'Raleway';
}

.ui.item.menu {
    background-color: rgba(0,0,0,0);
    border: none;
    box-shadow: 0 0 rgba(0,0,0,0);
}
.ui.menu .item:before {
    display: none;
}

#about .ui.divider {
    min-width: 250px;
    max-width: 500px;
    width: 80%;
    margin: 10px auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

/* ====================
 * PROJECTS/SKILLS/CONTACT COMMON SECTION 
 * ==================== */

#projects, 
#skills,
#contact {
    padding: 50px 0;
 }

#projects h1,
#skills h1,
#contact h1 {
    font-size: 5.5vmin;
    font-family: 'Raleway';    
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}

@media(max-width: 767px) {
    #projects h1,
    #skills h1,
    #contact h1 {
        font-size: 3em;
    }
    
    #skills .column {
        max-width: 600px;
        height: auto !important;
        margin: 5% auto !important;
        padding: 0 5% !important;
    }
}

/* ====================
 * PROJECTS SECTION 
 * ==================== */

#projects {
    background: url(https://images.unsplash.com/photo-1497493292307-31c376b6e479?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=428468d8a8b3842450b4f54a173f2622&auto=format&fit=crop&w=1351&q=80);
    background-position: center;
    background-color: rgba(0, 0, 0, 0.85);
    background-blend-mode: multiply;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
 
.project-wrapper {
    border: 1px solid #fff;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
    height: 100%;
    max-height: 400px;
 }

.project-wrapper div {
    margin: 7px 10px 10px 10px !important;
    padding-bottom: 6px;
}

.project-wrapper h3 {
    font-weight: 700;
    font-family: 'Raleway';
    font-size: 1.25em;
}

.project-wrapper img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #fff;
}

#projects a {
    color: #fff;
    padding: 6px;
    border: 1px solid rgba(200, 200, 200, 0.5);
    border-radius: 7px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
}

#projects a:hover {
    border: 1px solid rgba(200, 200, 200, 0.75);
    background-color: rgba(20, 20, 20, 0.75);
}

/* ====================
 * SKILLS SECTION 
 * ==================== */

#skills #skill-wrapper {
    border-right: 1px solid rgba(255, 255, 255, 0.8);
}

#skills #exp-wrapper {
    border-left: 1px dashed rgba(255, 255, 255, 0.8);
}

#skills h3 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Raleway';
    font-weight: 400;
}

#skills .column {
    height: 100%;
}

#skills ul {
    margin: 0 auto;
    box-sizing: border-box;
}

#skills li {
    margin-left: -26px;
}

#skills li.top {
    list-style: none;
    font-size: 0.98em;
}

#skills li.top:first-of-type {
    padding-top: 5px;
}

#skills li.bottom {
    list-style: none;
    margin-bottom: 15px;
    font-size: 0.98em;
}

#skills li.bottom:last-of-type {
    margin-bottom: 0;
    padding-bottom: 7px;
}

#skills li.main {
    font-size: 1.25em;
    padding: 3px 0;
}

.skill-item {
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 3px;
    max-width: 100%;
    width: 20%;
    background: rgba(30, 30, 30, 0.6);
    text-align: right;
    padding: 2px 6px 2px 3px;
    border-radius: 4px 0 0 4px;
}

.skill-item.w30 {
    width: 30%;
}
.skill-item.w40 {
    width: 40%;
}
.skill-item.w50 {
    width: 50%;
}
.skill-item.w60 {
    width: 60%;
}
.skill-item.w70 {
    width: 70%;
}
.skill-item.w80 {
    width: 80%;
}
.skill-item.w90 {
    width: 90%;
}
.skill-item.w100 {
    width: 100%;
}

.skill-item:nth-of-type(2n) {    
    background: rgba(40, 10, 250, 0.4);
}

/* CONTACT SECTION */

#contact-items a:hover {
    border: 1px solid #fff;
}

#contact-items a {    
    color: #fff;
    font-size: 2em;
    margin: 4px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
}