html, body {
    height: 100%;
}

body {
    background: #C33764;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#about {
    color: white;
    max-width: 800px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}

#about img {
    border-radius: 50%;
    min-width: 100px;
    width: 30%;
    box-shadow: 1px 1px 8px #3c3c3c;
}

#about ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#about ul li {
    display: inline-block;
    margin: 0 2%;
}

#about ul li a {
    color: white;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    transition: all 0.2s;
}

#about ul li a:hover {
    border: 1px solid white;
    border-radius: 10px;
    text-decoration: none;
}