html, body {
    height: 100vh;
}

body {
    background: #C33764;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
    background-size: cover;
}

#skills,
#about {
    color: white;
    max-width: 800px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 30px 10%;
    font-family: 'Raleway';
}


#about-name {
    width: 100%;
    height: 14%;
    display: table;
    text-align: center;
    padding: 1% 0;
}

#about h1 {
    height: 100%;
    font-weight: 300;
    font-size: 9vh;
    display: table-cell;
    vertical-align: middle;
}

#about-text {
    width: 100%;
    height: 33%;
    margin: 1%;
    padding: 0;
    line-height: 1.65em;
    display: table;
    text-align: center;
}

@media (max-width: 470px) {
    #about {
        padding: 15px 10% !important;
    }

    #about h1 {
        font-size: 17vmin;
    }

    #about-contact a {
        font-size: 5vmin !important; 
    }

    #about-text {
        font-size: 3.3vmin; 
    }

    #about img {
        height: 35vmin !important;
    }
}

@media (max-height: 470px) {
    #about {
        padding: 15px 5% !important;
    }

    body {
        font-size: 0.8rem !important;
    }

    #about p {
        margin-bottom: 0.5rem;
        line-height: 1.1rem !important;
    }
    
    #about-text {
        height: 28%;
        margin: 2px 1%;
    }
    
    #about img {
        height: 20vmin !important;
        margin: 2px !important;
    }
    
    body h1 {
        font-size: 1.8rem;
    }

    body h3 {
        font-size: 1.4rem;
    }

    #projects .row .text {
        padding: 13px 13px 18px 13px !important;
    }

    #projects .row .project-wrapper {
        max-width: 300px !important;
    }
}

#about-text div {
    height: 100%;
    display: table-cell;
    vertical-align: middle;    
}

#about img {
    border-radius: 50%;
    height: 30%;
    margin: 2%;
    box-shadow: 1px 1px 8px #3c3c3c;
}

#about-contact {    
    width: 100%;
    height: 5%;
    margin: 1.25% 0;
    display: table;
}

#about-contact a {
    font-size: 1.6em;
}

#about-contact ul li a {
    color: white;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    transition: all 0.2s;
}

#about-contact ul li a:hover {
    border-radius: 5px;
}

#about hr {
    border-color: rgba(200, 200, 200, 0.5);
    height: 0.5%;
    margin-left: 10%;
    margin-right: 10%;
}

#about-nav {
    width: 100%;
    height: 5%;
    display: table;
}

#about ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
}

#about ul li {
    display: inline-block;
    margin: 0 2%;
}

#about ul li a {
    color: white;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    transition: all 0.2s;
}

#about ul li a:hover {
    border: 1px solid white;
    border-radius: 10px;
    text-decoration: none;
}

#projects {
    color: white;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 80px 5px 30px 5px;
    font-family: 'Raleway';
    background-color: rgba(20, 20, 20, 0.3);
}

#projects hr {
    border-color: rgba(200, 200, 200, 0.5);
}

#projects .row {
    margin: 20px auto;
    max-width: 1100px;
}

#projects .row .project-grid{
    margin: 30px 0;
}

#projects img {
    width: 100%;
    max-width: 400px;
    margin: 0;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid white;
}

#skills h1,
#projects h1 {
    text-transform: uppercase;
}

#projects h3 {
    font-weight: bold;
}

#projects .row .project-wrapper {
    border: 1px solid white;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
    height: 100%;
}

#projects .row .text {
    text-align: left;
    padding: 20px 20px 30px 20px;
}

#projects a {
    color: white;
    padding: 8px;
    border: 1px solid rgba(200, 200, 200, 0.6);
    border-radius: 10px;
    transition: all 0.2s;
}

#projects a:hover {
    color: white;
    border-radius: 10px;
    border: 1px solid white;
    text-decoration: none;
}

#projects a.disabled {
    color: rgba(200, 200, 200, 0.6);
    pointer-events: none;
    cursor: default;
}

#projects .text .separator {
    font-weight: 300;
    padding: 0 2%;
}

#skills {
    padding-top: 80px;
    padding-bottom: 30px;
    max-width: 1000px;
}

#skills .skillwrapper .level {
    margin: 0 auto;
    color: #3c3c3c;
    background-color: white;
    font-weight: 700;
    height: 100%;
    width: 100%;
    text-align: center;
}

#skills .skillwrapper .level:nth-of-type(2n) {
    background-color: #ccc
}

#skills .skillwrapper .level.w20 {
    width: 20%;
    min-width: 120px;
}
#skills .skillwrapper .level.w30 {
    width: 30%;
    min-width: 130px;
}
#skills .skillwrapper .level.w40 {
    width: 40%;
    min-width: 140px;
}
#skills .skillwrapper .level.w50 {
    width: 50%;
    min-width: 150px;
}
#skills .skillwrapper .level.w60 {
    width: 60%;
    min-width: 160px;
}
#skills .skillwrapper .level.w70 {
    width: 70%;
    min-width: 170px;
}
#skills .skillwrapper .level.w80 {
    width: 80%;
    min-width: 180px;
}

#skills .graph-line {
    height: 10px;
    border-left: 2px solid rgba(200, 200, 200, 0.4);
    width: 2px;
    float: center;
    margin: 0 auto;
}

#skills .row.skilltable div img {
    height: 5vh;
}

#skills .graph-line:last-of-type {
    border-left: none;
    height: 2px;
    border-bottom: 2px solid rgba(200, 200, 200, 0.4);
    width: 80%;
}

#skills #skillcontainer {
    margin: 50px auto;
}

#skills .skillwrapper {
    margin: 0;
    padding: 0;
}

#skills .skillwrapper.half {
    max-width: 75%;
    margin: 0 auto;
}

/* ---- grid ---- */
.grid {
    width: 100%;
}

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}
  
/* ---- .grid-item ---- */
.grid-item {
    float: left;
    height: 100px;
    width: 25%;
}

.grid-content {
    margin: 3px;
    border-radius: 10px;
    border: 1px solid white;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    display: table;
    transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
}

.grid-item .grid-content.selectable:hover {
    background-color: rgba(20, 20, 20, 0.3);
}

.grid-content h1 {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.grid-content img {
    height: 5vh;
}
  
.gutter-sizer { width: 0%; }  
.grid-item--width2 { width: 50%; }
.grid-item--width3 { width: 75%; }
.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 300px; }

@media (max-width: 991px) {

    #skills .skillwrapper.half {
        max-width: 100%;
    }
}